<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="./socket.io/socket.io.js"></script>
    <script src="./index.js"></script>
    <title>Formulario de Ingreso de Productos</title>
</head>

<body>
    <div class="jumbotron container mt-5">
        <div class="row">
          <h1>Ingrese un producto</h2>
        </div>
        <form action="/api/productos/guardar" method="POST" id="newProductForm" onsubmit="send(event, this);">
            <div class="container mt-3">
                <div class="row">
                    <label for="title" class="form-label">Nombre</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="title" id="title" aria-describedby="basic-addon3">
                    </div>
                </div>
                <div class="row">
                    <label for="price" class="form-label">Precio</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">$</span>
                        <input type="text" class="form-control" name="price" id="price" aria-describedby="basic-addon3">
                    </div>
                </div>
                <div class="row">
                    <label for="thumbnail" class="form-label">Foto</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="thumbnail" id="thumbnail" aria-describedby="basic-addon3">
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </div>
        </form>
      </div>

    <div class="jumbotron">
    <h1>Vista de Productos</h1>
    <br>

    <div id="table">
        {{#if hayProductos}} 
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr> <th>Nombre</th> <th>Precio</th> <th>Foto</th></tr>
                    {{#each productos}}
                        <tr> <td>{{this.title}}</td> <td>${{this.price}}</td> <td><img width="50" src={{this.thumbnail}} alt="not found"></td> </tr>
                    {{/each}}
                </table>
            </div>
        {{else}}  
            <h3 class="alert alert-warning">No se encontraron productos</h3>
        {{/if}}
    </div>
    
</div>

<div class="jumbotron" id="centro-mensajes">
    <h1>Centro de Mensajes</h1>
    <br>
    <input type="text" id="message_email" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu email" onblur="writeEmail(event, this);" onfocus="writeEmail(event, this);">
    <hr>
    
    <div id="messages"></div>
        
    <form class="form-inline mt-3" action="/api/messages" onsubmit="return addMessage(event, this)" autocomplete="off">
        <input disabled type="text" id="message_text" class="form-control my-2 mr-2" placeholder="Ingresá un mensaje...">
        <input disabled id="message_send" class="btn btn-primary my-2" type="submit" value="Enviar!">
    </form>
</div>

</body>

</html>